<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"]</title>

   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @RenderSection("Styles",required:false)

</head>
<body>

    @{
        Html.RenderPartial("_NavBarContent");
    }

    @Html.Partial("_PageMessageView")

    <div class="container-fluid body-content">
        @RenderBody()
    </div>

    <footer>
        <hr>
        <div class="row">

            <div class="col-sm-6">&copy;2017</div>

            <div class="text-right col-sm-6">
                Время работы:
                <span id="SessionTimer"></span>
            </div>

        </div>
        <script>
            
            var CreationDateTime = new Date("@ViewData["CreationDateTime"]").getTime();

            update();
            // Update the count down every 1 second
            var T = setInterval(update, 1000);

            function update() {

                // Get todays date and time
                var tmp = new Date();
                var now = tmp.getTime() + 1000 * 60 * tmp.getTimezoneOffset();

                // Find the distance between now an the count down date
                var distance = now - CreationDateTime;

                var format = new Intl.NumberFormat("be", {
                    minimumIntegerDigits: 2
                });

                // Time calculations for days, hours, minutes and seconds
                var hours = format.format(Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)));
                var minutes = format.format(Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)));
                var seconds = format.format(Math.floor((distance % (1000 * 60)) / 1000));

                // Output the resul
                document.getElementById("SessionTimer").innerHTML = hours + ":"
                    + minutes + ":" + seconds;

            }
        </script>

    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            asp-fallback-src="~/lib/popper.js/dist/umd/popper.min.js"
            asp-fallback-test="window.Popper">
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
    </script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
