@model IEnumerable<Disease>


<div class='container mt-4'>

    <div class='mb-2'>
        @Html.ActionLink("Добавить", "CreateDisease")
    </div>

    <form class='mb-2'>
        <div class='form-row'>
            <div class='col'>
                <input class='form-control' type='search' placeholder='Введите название...'>
            </div>
            <div class='col-sm-2'>
                <button class='btn btn-primary w-100' type='submit'>Показать</button>
            </div>

        </div>
        Наименование болезни
    </form>


    <div id='drugsList'>
        @{
            int counter = 0;


            @foreach (var item in Model)
            {
                counter++;
                <div class='drug card'>

                    <div class='card-header'>

                        <a data-toggle="collapse" href="#drugsList .drug:nth-child(@counter) .drug-info" aria-expanded="true" aria-controls="collapseOne">
                            <strong>@Html.DisplayFor(modelItem => item.Name)</strong>

                        </a>
                        <span>

                            <a asp-action="EditDisease" class='edit-butts' asp-route-id="@item.ID">Изменить </a>
                            <a asp-action="DeleteDisease" class='edit-butts' asp-route-id="@item.ID">Удалить</a>
                        </span>
                    </div>


                    <div class='drug-info collapse'>
                        <div class='card-body'>
                            <strong>Описание</strong> <br />
                            @Html.DisplayFor(modelItem => item.Description)
                        </div>
                    </div>

                </div>
            }
        }
    </div>

</div>
@section Styles {
    <link rel='stylesheet' href='~/css/Shared/DiseasesDirectory/main.css' asp-append-version='true' />
}