@model IEnumerable<Drug>

@{
}
<div class='container mt-4'>

    <div class='mb-2'>
        @Html.ActionLink("Добавить", "CreateDrug")
    </div>

    <form asp-controller="Registrator" asp-action="DrugsDirectory" class='mb-2'>
        <div class='form-row'>
            <div class='col'>
                <input name="q" class='form-control' type='search' placeholder='Введите название...'>
            </div>
            <div class='col-sm-2'>
                <button class='btn btn-primary w-100' type='submit'>Показать</button>
            </div>
        </div>
    </form>
   
   
        <div id='drugsList'>
            @{
                int counter = 1;
            }
            @foreach (var item in Model)
            {
            <div class='drug card data-group'>

                <div class='card-header'>

                    <a class ="drug-header" data-toggle="collapse" href="#drugsList .drug:nth-child(@counter) .drug-info" aria-expanded="true" aria-controls="collapseOne">
                        <strong>
                            <input name='Name' class="mw-100" value="@item.Name" readonly />
                        </strong>
                    </a>

                    <span class ="edit-buttons">
                        <a asp-action="DeleteDrugs" asp-route-id="@item.ID">Удалить</a> 
                    </span>

                </div>

                <div class='drug-info collapse'>
                    <div class='card-body'>

                        <div class="text-right">
                            <a class='clickShowHideNext' href="javascript:1;">Изменить</a> |
                            <a class='sendWithAddition hide' data-to-add='["Name","Description"]' asp-action="EditDrug" asp-route-id="@item.ID">Сохранить</a>
                        </div>

                        <input name='Description' class="mw-100" value="@item.Description" readonly />

                    </div>
                </div>

            </div>
                counter++;

            }
        </div>

</div>

@section Styles {
    <link rel="stylesheet" href="~/css/Shared/DrugsDirectory/main.css" asp-append-version="true" />
}
@section Scripts {
    <script type="text/javascript" src="~/js/Shared/DrugsDirectory/main.js" asp-append-version="true"></script>
}