@model IEnumerable<Drug>

@{
}
<div class='container mt-4'>

    <div class='mb-2'>
        @Html.ActionLink("Добавить", "CreateDrug")
    </div>

    <form class='mb-2'>
        <div class='form-row'>
            <div class='col'>
                <input class='form-control' type='search' placeholder='Введите название...'>
            </div>
            <div class='col-sm-2'>
                <button class='btn btn-primary w-100' type='submit'>Показать</button>
            </div>
        </div>
    </form>
   
   
        <div id='drugsList'>
            @foreach (var item in Model)
            {
            <div class='drug card'>

                <div class='card-header'>
                    <a data-toggle="collapse" href="#drugsList .drug:nth-child(i) .drug-info" aria-expanded="true" aria-controls="collapseOne">
                        <strong>@Html.DisplayFor(modelItem => item.Name)</strong>
                    </a>
                    <span>

                        <a asp-action="EditDrugs" class='edit-butts' asp-route-id="@item.ID">Изменить </a>
                        <a asp-action="DeleteDrugs" class='edit-butts' asp-route-id="@item.ID">Удалить</a> 
                    </span>
                </div>

                <div class='drug-info collapse'>
                    <div class='card-body'>
                        <strong>ПОКАЗАНИЯ К ПРИМЕНЕНИЮ</strong> <br />
                        @Html.DisplayFor(modelItem => item.Description)
                    </div>
                </div>

            </div>
            }
        </div>

</div>
