@model Patient

@{ 
    ViewData["Title"] = "Карточка пациента";
}
<div class='row mt-4 ml-1'>
    <div class='col-lg-3'>

        <div class ='card mb-2 personal-data'>
            <div class = 'card-header'>
               <h5 class='card-title text-center'>Персональные данные</h5>
            </div>
            <div class = 'card-body'>
               
                    <div class='row'>
                        
                        <div class='col-md'>Дата рождения</div>
                        <div class='col-md'>@Html.DisplayFor(Model=>Model.BirthDate)</div>
                        <div class="w-100"></div>
                        <div class='col-md'>Пол</div>
                        <div class='col-md'>@Html.Partial("_SexView")</div>
                        <div class="w-100"></div>
                        <div class='col-md'>Адрес</div>
                        <div class='col-md'>@Model.StreetName @Model.HouseNumber</div>
                        <div class="w-100"></div>
                        <div class='col-md'>Участок</div>
                        <div class='col-md'>
                            <a href="/registrator/regions?q=@Model.RegionId"><strong>@Model.RegionId</strong></a>
                        </div>
                        
                    </div>
                    
            </div>
        </div>


        <div class='filter card p-3'>
            <form>
                <input name="Id" value="@Model.Id" hidden />
                <div class='form-group'>
                    <label for='speciality'>Специальность врача</label>
                    <select class='form-control form-control-sm' name='SpecialityId'>
                        <option value="">Все</option>
                        @foreach(Speciality speciality in ViewBag.Specialities)
                        {
                            <option value="@speciality.Id">@speciality.Name</option>
                        }
                    </select>
                </div>
                <div class='form-group'>
                    <label for='Date'>Дата</label>
                    <input type='text' id = 'datePicker' name='DateRange' class='form-control form-contrl-sm'>
                </div>
                <div class='text-center mt-4'>
                    <button type="submit" class="btn btn-primary">Применить фильтр</button>
                </div>
            </form>
        </div>
    </div>

    <div class='col-lg-9'>

        <table  id = 'checkUpList' class="table table-hover text-center">
            <thead>
                <tr>
                    <th scope="col">Время</th>
                    <th scope="col">Специальность</th>
                    <th scope="col">ФИО</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var i = 2;
                }
                @foreach (DoctorVisit doctorVisit in Model.DoctorVisits)
                {
                    <tr data-toggle = 'collapse' data-target = '#checkUpList tbody tr:nth-of-type(@i) .collapse'>
                        <td class = 'dateTime'>@Html.DisplayFor(x => doctorVisit.DateTime)</td>
                        <td class = 'speciality'>@Html.DisplayFor(x => doctorVisit.Doctor.Speciality.Name)</td>
                        <td class = 'name'>@Html.Partial("_ManShortName",doctorVisit.Doctor)</td>
                    </tr>
                    <tr class = 'record-inf'>
                        <td class = 'pt-0 pb-0' colspan="4">
                            <div class = 'collapse text-left pl-4 pr-4'>

                                <div class = 'pt-4'></div>

                                <h4 class="card-title diagnosis-title">Диагноз</h4>
                                <p class="card-text diagnosis">@Html.DisplayFor(x => @doctorVisit.Diagnosis)</p>
                                <h4 class="card-title recomend-title">Рекомендации</h4>
                                <p class="card-text recomend">@Html.DisplayFor(x => @doctorVisit.Medicines)</p>

                                <div class = 'pt-4'></div>

                            </div>
                        </td>
                    </tr>

                    i += 2;

                }
              
            </tbody>
        </table>

    </div>
</div>
@section Styles {
    <link rel='stylesheet' href='~/lib/datetimepicker/css/daterangepicker.css' asp-append-version='true' />
    <link rel='stylesheet' href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' asp-append-version='true' />
    <link rel='stylesheet' href='~/css/Shared/PatientCard/main.css' asp-append-version='true' /> 
}

@section Scripts {
    <script src='~/lib/moment/min/moment-with-locales.min.js' asp-append-version='true'></script>
    <script src='~/lib/datetimepicker/js/daterangepicker.js' asp-append-version='true'></script>
    <script src='~/js/Shared/PatientCard/main.js' asp-append-version='true'></script>
}