@model IEnumerable<Doctor>
@{
    ViewData["Title"] = "Доктора";
}

<div class='mt-4'>
    <div class='row'>
        <div class='newDoctor col mb-2 text-center'>
            @Html.ActionLink("Добавить нового врача", "CreateDoctor")
        </div>
        <div class='col-xl-10'></div>
    </div>


    <div class='row'>
        <div class='col-lg-2'>
            <div class='filter card p-3 mb-2'>
                <form class='mb-2'>
                    <div class='form-group'>
                     
                        <div class='form-group'>
                            <label class="mt-1">Специальность</label>
                            <select name="Speciality" class="form-control">
                                <option value="">Все</option>
                                @foreach (var Speciality in ViewBag.Specialities)
                                {
                                    <option value="@Speciality.Name">@Speciality.Name</option>
                                }
                            </select>

                            <label class='mt-1'>Участок</label>
                            <select name="RegionId" class="form-control">
                                <option value="">Все</option>
                                @foreach (var Region in ViewBag.Regions)
                                {
                                    <option value="@Region.Id">@Region.Id</option>
                                }
                            </select>
                        </div>
                    
                     
                    </div>
                    <div class='text-center mt-4'>
                        <button type="submit" class="btn btn-primary">Показать</button>
                    </div>
                </form>
            </div>
        </div>

        <div class='col-lg-10'>

            <form>
                <div class='form-row'>
                    <div class='col'>
                        <input class='form-control' type='search' name="Surname" placeholder='Введите ФИО...'>
                    </div>
                    <div class='col-sm-2'>
                        <button class='btn btn-primary w-100' type='submit'>Показать</button>
                    </div>
                </div>
            </form>

            <div class='row mt-2'>
                <table class='table text-center table-responsive-md' id="Doctors">
                    <tr>
                        <th>ФИО</th>
                        <th>Номер кабинета</th>
                        <th>Специальность</th>
                        <th>Участок</th>
                        <th></th>
                        <th></th>
                    </tr>
                    @foreach (Doctor item in Model)
                    {
                        <tr>
                            <td>
                                @Html.Partial("_ManShortName", item)
                            </td>
                           
                            <td>@Html.DisplayFor(modelItem => item.ChainedCabinet)</td>
                            <td>@Html.DisplayFor(modelItem => item.Speciality.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Region.Id)</td>
                            <td><a asp-action="DoctorScheduleView" asp-route-id="@item.Id">Расписание</a></td>
                            <td><a asp-action="DeleteDoctor" asp-route-id="@item.Id">Удалить</a> | <a asp-action="EditDoctor" asp-route-id="@item.Id">Редактировать</a></td>
                        </tr>
                    }
                </table>
            </div>

        </div>

    </div>

</div>
@section Styles {
    <link rel='stylesheet' href='~/css/Registrator/Doctors/main.css' asp-append-version='true' />
}