@model IEnumerable<Patient>
@{ 
    ViewData["Title"] = "Пациенты";
}
<div class='mt-4'>
    <div class='row'>
        <div class='newPatient col mb-2 text-center'>
            @Html.ActionLink("Добавить нового пациента", "CreatePatient")
        </div>
        <div class='col-xl-10'></div>
    </div>

    <div class='row'>
        <div class='col'>
            <div class='filter card p-3 mb-2'>
                <form>
                    <div class='form-group'>
                        <label for='Birthdate'>Дата рождения</label>
                        <input class='form-control form-control-sm' type='text' id='birthdate' name='Birthdate'>
                    </div>
                    <div class='form-group'>
                        <label for='Sex'>Пол</label>
                        <select class='form-control form-control-sm' name='Sex'>
                            <option value=''>
                                Оба
                            </option>
                            <option value='trur'>
                                М
                            </option>
                            <option value='false'>
                                Ж
                            </option>
                        </select>
                    </div>
                    <div class='form-group'>
                        <label for='RegionId'>Участок</label>
                        <select class='form-control form-control-sm' name='RegionId'>
                            <option value="">Все</option>
                            @foreach (var Region in ViewBag.Regions)
                            {
                                <option value="@Region.Id">@Region.Id</option>
                            }
                        </select>
                    </div>
                    <div class='form-group text-center'>
                        <button type="submit" class="btn btn-primary">Показать</button>
                    </div>
                </form>
            </div>
        </div>
        <div class='col-xl-10'>
            <form>
                <div class='form-row'>
                    <div class='col'>
                        <input name="surname" class='form-control' type='search' placeholder='Введите фамилию пациента...'>
                    </div>
                    <div class='col-sm-2'>
                        <button class='btn btn-primary w-100' type='submit'>Показать</button>
                    </div>
                </div>
            </form>
            <div class='mt-2'>

                <table class='table text-center table-responsive-lg' id="Patients">
                    <thead>
                        <tr>
                            <th>ФИО</th>
                            <th>Дата рождения</th>
                            <th>Пол</th>
                            <th>Адрес</th>
                            <th>Участок</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {
                        <tbody>
                            <tr>
                                <td>
                                @Html.Partial("_ManShortName", item)
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.BirthDate)</td>
                                <td>@Html.Partial("_SexView",item)</td>
                                <td>
                                @Html.DisplayFor(modelItem => item.StreetName)  @Html.DisplayFor(modelItem => item.HouseNumber)
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.RegionId)</td>
                                <td>
                                    <div class="noDropdown">
                                            @if (ViewBag.RecordId != null)
                                                {

                                                    @Html.ActionLink("Записать на прием", "CreatePatientRecord", "Registrator", new { RecordId = ViewBag.RecordId, PatientId = item.Id });

                                                }
                                                else
                                                {

                                                    @Html.ActionLink("Записать на прием", "Doctors", "Registrator", new { PatientId = item.Id })

                                                }


                                        | <a asp-action="PatientCard" asp-route-id="@item.Id">Карточка</a>
                                        | <a asp-action="PatientsRecordsView" asp-route-id="@item.Id">Записи к врачам</a>

                                    </div>
                                    <div class="Dropdown">
                                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownheader" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Действия
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownheader">
                                            @if (ViewBag.RecordId != null)
                                            {

                                                @Html.ActionLink("Записать на прием", "CreatePatientRecord", "Registrator", new { RecordId = ViewBag.RecordId, PatientId = item.Id },
                                                                                                                            new { @class = "dropdown-item", role = "button" });

                                            }
                                            else
                                            {

                                                @Html.ActionLink("Записать на прием", "Doctors", "Registrator", new { PatientId = item.Id },
                                                                                                                    new { @class = "dropdown-item", role = "button" });
                                            }


                                            @Html.ActionLink("Карточка", "PatientCard", null, new { Id = item.Id },
                                                                                               new { @class = "dropdown-item", role = "button" })

                                            @Html.ActionLink("Записи пациента", "PatientsRecordsView", "Registrator", new { Id = item.Id },
                                                                                                               new { @class = "dropdown-item", role = "button" })
                                        </div>
                                    </div>

                                </td>
                                <td> <a asp-action="EditPatient" asp-route-id="@item.Id">Редактировать</a> | <a asp-action="DeletePatient" asp-route-id="@item.Id">Удалить</a></td>
                            </tr>
                        </tbody>
                    }

                </table>


            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script src='~/lib/moment/min/moment-with-locales.min.js' asp-append-version='true'></script>
    <script src='~/lib/datetimepicker/js/daterangepicker.js' asp-append-version='true'></script>
    <script src='~/js/Registrator/Patients/main.js' asp-append-version='true'></script>
}
@section Styles {
    <link rel='stylesheet' href='~/lib/datetimepicker/css/daterangepicker.css' asp-append-version='true' />
    <link rel='stylesheet' href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' asp-append-version='true' />
    <link rel='stylesheet' href='~/css/Registrator/Patients/main.css' asp-append-version='true' />
}