@model IEnumerable<Patient>
<div class='mt-4'>
    <div class='row'>
        <div class='newPatient col mb-2 text-center'>
            @Html.ActionLink("Добавить нового пациента", "CreatePatient")
        </div>
        <div class='col-xl-10'></div>
    </div>

    <div class='row'>
        <div class='col'>
            <div class='filter card p-3 mb-2'>
                <form>
                    <div class='form-group'>
                        <label for='birthdate'>Дата рождения</label>
                        <input class='form-control form-control-sm' type='text' id='birthdate' name='birthdate'>
                    </div>
                    <div class='form-group'>
                        <label for='sex'>Пол</label>
                        <select class='form-control form-control-sm' name='sex'>
                            <option value='All'>
                                Оба
                            </option>
                            <option value='M'>
                                М
                            </option>
                            <option value='Fm'>
                                Ж
                            </option>
                        </select>
                    </div>
                    <div class='form-group'>
                        <label for='region'>Участок</label>
                        <select class='form-control form-control-sm' name='region'>
                            <option>ул.Осенняя</option>
                            <option>Дерматолог</option>
                            <option>Невролог</option>
                            <option>Хирург</option>
                            <option>Терапевт</option>
                        </select>
                    </div>
                    <div class='form-group text-center'>
                        <button type="submit" class="btn btn-primary">Показать</button>
                    </div>
                </form>
            </div>
        </div>
        <div class='col-xl-10'>
            <form>
                <div class='form-row'>
                    <div class='col'>
                        <input class='form-control' type='search' placeholder='Введите ФИО...'>
                    </div>
                    <div class='col-sm-2'>
                        <button class='btn btn-primary w-100' type='submit'>Показать</button>
                    </div>
                </div>
            </form>
            <div class='mt-2'>

                <table class='table text-center table-responsive-lg'>
                    <thead>
                        <tr>

                            <th>ФИО</th>
                            <th>Дата рождения</th>
                            <th>Пол</th>
                            <th>Адрес</th>
                            <th>Участок</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {

                        /* if (item.Surname != null && item.Lastname != null)
                          {{
                             var sur = item.Surname.Substring(0, 1);
                              var last = item.Lastname.Substring(0, 1);
                          }*/
                        <tbody>
                            <tr>
                                <td>
                                @Html.Partial("_ManShortName", item)
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.BirthDate)</td>
                                <td>@Html.Partial("_SexView",item)</td>
                                <td>
                                @Html.DisplayFor(modelItem => item.Street.Name)
                                </td>    
                                <td>@Html.ActionLink("Записать на прием", "", "") | <a asp-action="PatientCard" asp-route-id="@item.Id">Карточка</a></td>
                                <td>@Html.ActionLink("Редактировать", "", "") |<a asp-action="DeletePatient" asp-route-id="@item.Id"> Удалить</a></td>
                            </tr>
                        </tbody>
                    }

                </table>


            </div>
        </div>
    </div>

</div>
</div>
@section Scripts {
    <script src='~/lib/moment/min/moment-with-locales.min.js' asp-append-version='true'></script>
    <script src='~/lib/datetimepicker/js/daterangepicker.js' asp-append-version='true'></script>
    <script src='~/js/Registrator/Patients/main.js' asp-append-version='true'></script>
}
@section Styles {
    <link rel='stylesheet' href='~/lib/datetimepicker/css/daterangepicker.css' asp-append-version='true' />
    <link rel='stylesheet' href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' asp-append-version='true' />
    <link rel='stylesheet' href='~/css/Registrator/Patients/main.css' asp-append-version='true' />
}