@model dynamic
<div class = 'container mt-4'>
    
    <div class='mb-2'>
        @Html.ActionLink("Добавить", "CreateRegion", "")
    </div>

     <form class = 'mb-2'>
        <div class='form-row'>
            <div class='col'>
                <input class='form-control' type='search' placeholder='Введите улицу...'>
            </div>
            <div class='col-sm-2'>
                <button class='btn btn-primary w-100' type='submit'>Показать</button>
            </div>
        </div>
    </form>

     <table class='table text-center table-responsive-lg' id='RegionsList'>

         <tr>
             <th>№ Участка</th>
             <th>Улицы</th>
             <th>Адреса</th>
             <th></th>
         </tr>
         @foreach (Region region in Model)
         {
             <tr class='new-region'>
                 <th>@region.ID</th>
                 <th></th>
                 <th></th>
                 <th>
                     <a asp-action="DeleteRegion" asp-route-id="@region.ID">Удалить участок</a>
                 </th>
             </tr>
             @if (region.Streets != null)
             {

                 foreach (Street street in region.Streets)
                 {
             <tr class="data-group">
                 <td>
                     <input name="RegionID" value="@region.ID" hidden/> 
                 </td>
                 <td>
                     <input name='Name' class="form-control-plaintext input-sm" value="@street.Name" readonly />
                 </td>
                 <td>
                     <input name='Addresses' class="form-control-plaintext input-sm" value="@street.Addresses" readonly />
                 </td>
                 <td>
                     <a asp-action="DeleteStreet" asp-route-id="@street.ID">Удалить</a> |
                     <a class='clickShowHideNext' href="javascript:1;">Изменить</a> |
                     <a class='sendWithAddition hide' data-to-add='["Name","Addresses","RegionID"]' asp-action="EditStreet" asp-route-id="@street.ID">Сохранить</a>
                 </td>
             </tr>
             }
         }

     }
     </table>
    


</div>

@section Scripts {
    <script type="text/javascript" src="~/js/Registrator/Regions/main.js" asp-append-version="true" ></script>
}

@section Styles {
    <link rel = 'stylesheet' href = '~/css/Registrator/Regions/main.css' asp-append-version='true' />
}