@model IEnumerable<Speciality>

<div class = 'container mt-4'>
    
    <div class='mb-2'>
        @Html.ActionLink("Добавить", "CreateSpeciality", "")
    </div>

    <form class = 'mb-2'>
        <div class='form-row'>
            <div class='col'>
                <input class='form-control' type='search' placeholder='Введите название...'>
            </div>
            <div class='col-sm-2'>
                <button class='btn btn-primary w-100' type='submit'>Показать</button>
            </div>
        </div>
    </form>

    <table class = 'table text-center'>
        
        <thead>
            <th>Название</th>
            <th>Длительность одного приема(минуты)</th>
            <th></th>
        </thead>

        <tbody>

            @foreach (var item in Model){

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckUpTime)
                    </td>
                    <td>
                        @Html.ActionLink("Удалить", "", "") | @Html.ActionLink("Редактировать", "", "")
                    </td>
                </tr>
            }


        </tbody>

    </table>
</div>